* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 2px solid black; */
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

p,
i {
  margin: 0;
  cursor: pointer;
}

.wrapper {
  background: url("assests/bg.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.phone-container {
  height: 600px;
  width: 300px;
  background: url("assests/phone-bg.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.notch {
  width: 25%;
  height: 20px;
  background-color: #000;
}

.fs-6 {
  font-size: 1.2rem;
}

#contactScreen::-webkit-scrollbar {
  display: none;
}

.slider-container {
  top: 65%;
  background-color: #ffffff14;
  backdrop-filter: blur(10px);
  box-shadow: 1px 2px 14px 6px rgba(0, 0, 0, 0.22) inset;
}

.slider {
  width: 100%;
}

.slider {
  appearance: none;
  z-index: 99;
  background-color: transparent;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("assests/arrow-right-circle-fill.svg");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.slider-label {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 1.1rem;
  font-weight: 600;
}

.logo {
  background-color: #fff;
}

.bg-dark {
  --bs-bg-opacity: 0.5;
}

.profileImage,
.cardImage {
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.profileImage {
  height: 50px;
  width: 50px;
}

.cardImage {
  height: 100px;
  width: 100px;
}

.details {
  font-size: 1.1rem;
}
