*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box1{
    height: 300px;
    width: 300px;
    background: url(https://images.unsplash.com/photo-1721332149267-ef9b10eaacd9?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    padding: 60px;
    margin: 10px 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box2{
    height: 150px;
    width: 150px;
    background-image: url(https://images.unsplash.com/photo-1725817901136-70a686d60386?q=80&w=2014&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}