
:root{
    --light-bg: #f0f0f0;
    --light-text: #000;
    --dark-bg: #1a1a1a;
    --dark-text: #fff;
}

::selection{
    background-color: #dd5541;
    color: #000;
}

*{ 
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* outline: 1px solid black; */
    transition: all ease .25s;
}

button{
    transition: all ease .5s;
}

button:hover{
    transform: scale(1.1);
}


html,body{
    width:100%;
    height:100%;
    background-color: rgba(255,249,251,255);
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
    position: relative;
    background-color: var(--light-bg);
    color: var(--light-text);
    transition: background-color 0.5s ease, color 0.5s ease;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #000;
}

i{
    font-size: 2rem;
    font-weight: 500;
}

.wrapper{
    height: 100vh;
    width: 100%;
    background-color: inherit;
}


nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    box-shadow: 2px 5px 9px 2px rgba(0,0,0,0.05);
    position: fixed;
    background-color: inherit;
    top: 0;
    z-index: 999;
}

.logo{
    display: flex;
    align-items: center;
    gap: .6rem;
}

.logo span:first-child{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo span:first-child::after{
    display: inline-block;
    content: "";
    height: 40px;
    width: 4px;
    background-color: #dd5541;

}


.logo span{
    font-size: 1.7rem;
    font-weight: bold;

}

.desktop{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.sidebar{
    display: none;
}

.links a{
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
}

.links a::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -2px;
    left: 0;
    background-color: #b46b5f;
    transition: transform .25s ease-out;
}

.links a:hover::after{
    transform: scaleX(1);
}

.menu{
    display: none;
    font-weight: bold;
    font-size: 2rem;
}

#menu{
    display: none;
}

.hero{
    display: flex;
    justify-content: center;
    height: 104vh;
    width: 100%;
    padding: 8rem 0;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 150px;
    background-color: inherit;
}

.hero-container{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    background-color: #b46b5f;
    padding: 2rem 5rem;
    border-radius: 5rem;
    margin-top: 100px;
}

.hero-container .text-container{
    width: 57%;
    font-size: 16px;
}

.hero-container .text-container h1{
    font-size: 2.5em;
    opacity: .8;
}

.hero-container .text-container h2{
    font-size: 3.5em;
}

.hero-container .text-container p{
    font-size: 1.4em;
    margin-top: 10px;
}

.hero-container .text-container .download{
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 1rem;
    border: none;
    border-radius: 10rem;
    background-color: #000;
}

.hero-container .text-container .download a{
    color: #fff;
    display: flex;
    align-items: center;
    gap: .3rem;
}

.hero-container img{
    height: 115%;
}

.hero-info{
    max-width: 950px;
    width: 80%;
    border: 2px solid #b46b5f;
    border-radius: 2rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.info{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 2px solid #000;
}

#three{
    border-right: none;
}

.info i{
    color: #b46b5f;
    font-size: 2.5rem;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 5rem 3rem;
    text-align: center;
}

.skill{
    transition: all ease .5s;
}

.skill:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.title{
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

.skills-container{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-container img{
    height: 120px;
    width: 120px;
}

.projects{
    padding: 4rem;
    width: 100%;
}

.projects-container{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.project:hover .project-content{
    transform: rotateY(180deg);
}

.project{
    width: 40vw;
    height: 40vh;
}

.project-content{
    position: relative;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    transition: all ease .7s;
}

.project-front,
.project-back{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    text-align: center;
}

.project-front img{
    height: 80%;
    max-width: 100%;
    object-fit: cover;
}

.project-back{
    transform: rotateY(180deg);
    background-color: #ffffff43;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
}

.project-back p{
    font-size: 1.5rem;
}

.icons{
    display: flex;
}


.about{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.about-me-container{
    display: flex;
    background-color: #b46b5f;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 4rem;
    margin: 2rem 0;
    border-radius: 2rem;
    gap: 1rem;
    height: 70vh;
    overflow: hidden;
}

.about-me-container img{
    height: 130%;
}

.about-me-container .text h2{
    font-size: 2.5rem;
}

.about-me-container .text p{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 10rem;
    gap: 4rem;
}

.contact-left{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .8rem;
}

.contact-left h2{
    font-size: 2rem;
    line-height: 1.2;
}

button{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    background-color: #b46b5f;
    border-radius: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.contact-right{
    height: auto;
    width:50%;
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    gap: 1rem;
    border: 1px solid gray ;
    border-radius: 2rem;
}
input{
    padding: 1rem;
    outline: 1px solid #dd5541;
    border-radius: 2rem;
    border: none;
    background-color: #b46a5f60;
}

footer{
    padding: 3rem;
    width: 100%;
    background-color: #b46b5f;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

.page-links, .social-links{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-weight: 600;
}

.top{
    position: fixed;
    height: 60px;
    width: 60px;
    background-color: #dd5541;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    bottom: 5%;
    right: 5%;
    z-index: 99;
}

#themeToggler{
    display: none;
}

.themeToggler{
    position: fixed;
    top: 15%;
    left: 2%;
    cursor: pointer;
    z-index: 99;
}

#themeToggler:checked + .themeToggler + .wrapper {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

#themeToggler:checked + .themeToggler{
    color: white;
}

#themeToggler:checked + .themeToggler + .wrapper nav{
    box-shadow: 2px 5px 9px 2px rgba(255, 255, 255, 0.05);
}

#themeToggler:checked + .themeToggler + .wrapper input,
#themeToggler:checked + .themeToggler + .wrapper #skills,
#themeToggler:checked + .themeToggler + .wrapper #projects, 
#themeToggler:checked + .themeToggler + .wrapper #about,
#themeToggler:checked + .themeToggler + .wrapper #contact,
#themeToggler:checked + .themeToggler + .wrapper nav .links a,
#themeToggler:checked + .themeToggler + .wrapper .project a{
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

#themeToggler:checked + .themeToggler + .wrapper footer a{
    color: var(--dark-text);
}

#themeToggler:checked + .themeToggler + .wrapper footer a{
    color: var(--dark-text);
}


footer a {
    display: flex;
    align-items: center;
    gap: 5px;
}

footer a{
    transition: all ease .6s;
}


footer a:hover{
    font-size: 1.4rem;
}
/* tablet layout */

@media screen and (max-width: 58.75rem) {
    .desktop{
        display: none;
    }

    .sidebar{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 90px;
        padding: 2rem;
        left: -100%;
        transition: left ease .3s;
        box-shadow: 7px 5px 24px -4px rgba(0,0,0,0.75);
        height: calc(100vh - 100px);
        width: 50%;
        align-items: center;
        background-color: #ffffff29;
        backdrop-filter: blur(10px);
    }
    #menu:checked+.sidebar{
        left: 0%;
    }

    .menu{
        display: block;
    }

    .hero{
        padding-top: 12rem;
    }

    .hero-container{
        width: 90%;
        border-radius: 2rem;
        padding: 0 2rem;
    }

    .hero-container .text-container {
        width: 57%;
        font-size: 14px;
    }

    .hero-container img {
        height: 99%;
    }

    .hero-container .text-container .download {
        font-size: 1rem
    }
    .projects{
        padding: 4rem 2rem;
     }
 
    .projects-container .project{
        width: 100%;
     }

     .about{
        padding: 2rem;
     }

    .about-me-container{
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .about-me-container img{
        width: 90%;
    }

    .contact{
        flex-direction: column;
        width: 100%;
        padding: 4rem;
    }

    .contact-left, .contact-right{
        width: 100%;
    }
}

/* mobile layout */

@media screen and (max-width: 37.5rem) {
    
    html{
        font-size: 14px;
    }

        
    .hero{
        padding-top: 25rem;
    }

    .hero-container{
        flex-direction: column;
        justify-content: center;
        overflow: visible;
        width: 90%;
        height: 70vh;
        gap: 2rem;
        padding: 10rem 5rem 12rem;
    }

    .hero-container .text-container{
        order: 2;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .hero-container  img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    .hero-info{
        padding: 0 0 0 4rem;
    }

    .skills{
        padding-top: 20rem;
    }
    
    .hero-info .info{
        border-right: none;
    }

    .projects-container{
        gap: 0;
    }

    .project-front img{
        height: 60%;
    }

    .project-back{
        height: 60%;
    }

    
}